.chessContainer {
    border: 1px black solid;
}
.box {
    height: 70px;
    width: 70px;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}
table {
    border-collapse: collapse;
}
.miniChess {
    display: flex;
    flex-direction: column;
}
.chessRow div div {
    display: flex;
}
.miniBox {
    height: 25px;
    width: 25px;
    border: 1px solid black;
}
