<div>
    <div>
        <button class="btn" #btn11 (click)="clickHandler(0, btn11)">
            &nbsp;
        </button>
        <button class="btn" #btn12 (click)="clickHandler(1, btn12)">
            &nbsp;
        </button>
        <button class="btn" #btn13 (click)="clickHandler(2, btn13)">
            &nbsp;
        </button>
    </div>
    <div>
        <button class="btn" #btn21 (click)="clickHandler(3, btn21)">
            &nbsp;
        </button>
        <button class="btn" #btn22 (click)="clickHandler(4, btn22)">
            &nbsp;
        </button>
        <button class="btn" #btn23 (click)="clickHandler(5, btn23)">
            &nbsp;
        </button>
    </div>
    <div>
        <button class="btn" #btn31 (click)="clickHandler(6, btn31)">
            &nbsp;
        </button>
        <button class="btn" #btn32 (click)="clickHandler(7, btn32)">
            &nbsp;
        </button>
        <button class="btn" #btn33 (click)="clickHandler(8, btn33)">
            &nbsp;
        </button>
    </div>
</div>
